<section class="page_404">
    <div class="row"> 
    <div class="col-12 ">
    <div class="col-10 col-offset-1  text-center">
    <div class="four_zero_four_bg">
      <img src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif" alt="" class="">    
    </div>
    
    <div class="contant_box_404">
      <h1 class="text-center ">404</h1>
    <h3 class="h2">
    Look like you're lost
    </h3>
    
    <p>the page you are looking for not avaible!</p>
  </div>
    </div>
    </div>
    </div>
</section>