@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This app will greet a person in there different languages, but the person will be greeted only when the greet button is pressed and a valid named entered.</p>
</div>
