/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: rgb(0, 0, 0);
}

* {
  text-align: center;
  align-items: center;
}

.errors p {
  color: red;
  height: auto;
}

.output span {
  font-size: 35px;
  color: purple;
  text-shadow: 1px 2px 4px rgb(72, 45, 78);
}

.countGretings {
  font-size: 30px;
  font-weight: bold;
  border: 2px solid rgb(72, 45, 78);
  border-radius: 50%;
  margin-left: 40px;
  padding: 12px;
}


.cen {
  margin-left:auto;
  margin-right:auto
}

td form {
  margin-top: 10%;
}

.page_404{ padding:40px 0; background:#fff; color: rgb(72, 45, 78);
}

/* .page_404  img{ width:100%;} */

.four_zero_four_bg{
    height: 400px;
    background-position: center;
 }

 .four_zero_four_bg1{
  height: 200px;
  background-position: center;
}
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
       font-size:80px;
       }
       
       .link_404{
    padding: 10px 20px;
    background: rgb(78, 76, 78);
    margin: 20px 0;
    display: inline-block;}
  .contant_box_404{ margin-top:-50px;}